@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/amazon-ember');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* VARIABLE */
:root{
    --major-bg-color: #131921;
    --minor-bg-color: #ebeded;
    --amazon-major-color: #febd68;
}

/* BODY */
body{
    background-color: var(--minor-bg-color);
}

/* HEADER {Outer to inner styling} */
.header{
    width: 100%;
    height: 50px;
    background-color: var(--major-bg-color);
    display: flex;
    justify-content: space-between;
}
header .header-nav{
    margin-top: 2px;
    display: flex;
    justify-content: center;
     
    margin: 0 auto;
}
.header .header-nav .header-container{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-nav .header-container .amazon-logo{
    width: 100px;
}
.header .header-nav .header-container .header-search{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.header .header-nav .header-container .header-search .search-input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
.header .header-nav .header-container .header-search .search-button{
    width: 40px;
    height: 42px;
    background-color: var(--amazon-major-color);
    border: 1px solid #ccc;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #232323;
}
.header .header-nav .header-container .header-cart{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 6px;
}
.header .header-nav .header-container .header-cart svg{
    width: 40px;
    height: 40px;
}

/* SECTION-1 */
.section-1{
    width: 100%;
    height: auto;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/GW/Mar/Apay/Rev1/Deals-PC-3000-Unrec._CB592487741_.jpg");
    background-size: cover;
    display: flex;
}
.section-1 .section-1-container{
    margin-top: 330px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.section-1 .section-1-container .section-1-column{
    width: 100%;
    background-color: white;
    padding: 20px;
}
.section-1 .section-1-container .section-1-column img{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.section-1 .section-1-container .section-1-column p{
    margin-top: 10px;
    font-size: 14px;
    color: #008175;
}
.section-1 .section-1-container .section-1-column button{
    margin-top: 20px;
    width: 100%;
    border: none;
    background-color: var(--amazon-major-color);
    padding: 8px;
    border-radius: 8px;
}

/* SECTION-2 (RELATED ITEMS*/
.section-2{
    margin: 30px;
    padding: 20px;
    background-color: #fff;
}
.section-2 .section-2-container h3{
    margin-bottom: 15px;
}
.section-2 .section-2-container .product-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}
.section-2 .section-2-container .product-cards .product-card{
    display: inline-block;
    width: 300px !important;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}
.section-2 .section-2-container .product-cards .product-card img{
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
}

/* SECTION-3 () */
.section-3{
    background-color: white;
}
.section-3 .section-3-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
.section-3 .section-3-container .product-detail-cards{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    flex-wrap: nowrap;
    overflow: auto;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card{
    display: inline-block;
    width: 300px;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card .product-detail-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card .product-detail-img img{
    width: 100%;
    height: auto;
    max-width: 160px;
    max-height: 140px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card a{
    text-decoration: none;
    color: #007165;
    font-size: 14px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card a:hover{
    color: #C45500;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card .product-delivered-by{
    color: #222;
    font-size: 10px;
    margin-bottom: 3px;
}

/* SECTION-4 */
.section-4{
    padding: 20px;
    background-color: white;
    /* padding: 40px; */
}
.section-4 .section-4-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.section-4 .section-4-container p{
    margin-top: 4px;
    font-size: 14px;
    margin-bottom: 4px;
}
.section-4 .section-4-container button{
    width: 300px;
    border: 1px solid rgb(216, 137, 137);
    background-color: var(--amazon-major-color);
    padding: 8px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.section-4 .section-4-container button:hover{
    background-color: #e68740;
    border: 1px solid #d88989;
    transform: scale(100%);
}
.section-4 .section-4-container .new-customer{
    font-size: 10px;
}
.section-4 .section-4-container .new-customer .start-here{
    color: #007165;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-right: 10px;
}

/* UPPER FOOTER PART */
.top-footer{
    width: 100%;
    height: 400px;
    /* border: 2px solid red; */
    background-color:#232F3E;
    color: #fff;
}
.top-footer .footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid yellow; */
    margin-bottom: 20px;
}
.top-footer .footer-container .top-button{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: stretch;
    align-items: center;
    align-content: center;
}
.top-footer .footer-container .top-button button{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 15px;
    margin-bottom: 50px;
    color: #fff;
    background-color: #34465d;
}
.top-footer .footer-container .upper-footer-boxes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin-left: 50px;
    margin-right: 50px; */

}
.top-footer .footer-container .upper-footer-boxes .upper-footer-box{
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-bottom: 20px;
}
.top-footer .footer-container .upper-footer-boxes .upper-footer-box .content-box{
    height: auto;
    align-self: flex-start;
}
.top-footer .footer-container .upper-footer-boxes .upper-footer-box .content-box p{
    font-family: 'Amazon Ember', sans-serif;
    font-size: 14px;
    color: #ddd;
    line-height: 2;
    font-weight: 300;
}
.content-box h3{
    font-family: 'Amazon Ember', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* MID FOOTER PART */
.mid-footer{
    width: 100%;
    height: auto;
    background-color: #232F3E;
    color: #fff;
    font-weight: 400;
    display: flex;
    font-family: 'Amazon Ember', sans-serif;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #444;
}
.mid-footer .footer-container{
    width: 1000px;
    /* height: 200px; */
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}
.mid-footer .footer-container .outer-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.mid-footer .footer-container .outer-box .logos{
    display: flex;
    gap: 80px;
    margin-bottom: 30px;
    align-items: center;
}
.mid-footer .footer-container .outer-box .logos img{
    display: inline-block;
    padding-top: 10px;
    /* width: 100%; */
    height: 20px;
}
.mid-footer .footer-container .outer-box .logos .select-lang{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    gap: 15px;
    padding-left: 7px;
    padding-right: 20px;
    border-radius: 5px;
}
.mid-footer .footer-container .outer-box .logos .select-lang p{
    font-size: 14px;
    font-family: 'Amazon Ember', sans-serif;
    margin-top: 3px;

}
.mid-footer .footer-container .outer-box .country{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -1;
    word-spacing: 10px;
    line-height: 0.6;
}
.mid-footer .footer-container .outer-box .country p.single-name{
    word-spacing: 2px;
}
.top-footer p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.mid-footer p:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* END FOOTER PART */
.end-footer{
    width: 100%;
    height: auto;
    background-color: #131A22;
    color: #ddd;
    font-family: 'Amazon Ember', sans-serif;
    display: flex;
}
.end-footer .end-footer-container{
    width: 100%;
    height: auto;
    padding: 10px;
}
.end-footer .end-footer-container .end-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end-footer .end-footer-container .end-box .amazon-services{
    /* width: 1000px; */
    display: grid;
    grid-template-columns: auto auto auto 150px auto;
    grid-template-rows: 70px 70px;
    column-gap: 90px;
    margin-top: 30px;
    /* margin-bottom: 40px; */
}
.end-footer .end-footer-container .end-box .amazon-services .amazon-service{
    font-size: 12px;
    font-weight: 300;
    color: #999;
    line-height: 14px;
}
.end-footer .end-footer-container .end-box .amazon-services .amazon-service .heading-highlight{
    color: #fff;
    font-weight: 400;
}
.seven{
    width: 110px;
}
.nine{
    width: 200px;
}

/* COPYRIGHT PART */
.copyright{
    width: 100%;
    height: 80px;
    font-family: 'Amazon Ember', sans-serif;
    background-color: #131921;
    color: #ddd;
}
.copyright .copyright-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 400;
    
}
.copyright .copyright-container .top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 12px;
    letter-spacing: 0px;
}